include ../page/page
include ../scripts/scripts

doctype html
html(lang='ru')
	block analitics
		-var connonicalPage = '';
	include ../head/head
	+page
		block content

		+scripts(['main.js'])
		block scripts