// Grid
// --------------------------------------------------
.container {
  max-width: 1200px;
  width: auto;
  padding-left: ceil($gutter-width / 2);
  padding-right: floor($gutter-width / 2);
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  @include clearfix;

  @media #{$laptop}{
    width: 100%;
    padding-left: $gutter-width;
    padding-right: $gutter-width;
  }

  @media #{$tablet}{
    padding-left: ceil($gutter-width / 2);
    padding-right: floor($gutter-width / 2);
  }
}

.grid {
  @include make-row;
}

@include make-grid-columns;

// grid
@include make-grid('');

// Large grid
@media #{$smallDesktop}{
  @include make-grid(sd);
}

// Medium grid
@media #{$laptop}{
  @include make-grid(l);
}

// Small grid
@media #{$tablet}{
  @include make-grid(t);
}

// Extra small grid
@media #{$phone}{
  @include make-grid(p);
}