// media queries
$desktop: 'screen and (min-width: 1200px)' !default;
$smallDesktop: 'screen and (max-width: 1199px)' !default;
$laptop: 'screen and (max-width: 1019px)' !default;
$tablet: 'screen and (max-width: 767px)' !default;
$phone: 'screen and (max-width: 479px)' !default;

$onlyDesktop: 'screen and (min-width: 1200px)' !default;
$onlySmallDesktop: 'screen and (min-width: 1020px) and (max-width: 1199px)' !default;
$onlyLaptop: 'screen and (min-width: 768px) and (max-width: 1019px)' !default;

$onlyTablet: 'screen and (min-width: 480px) and (max-width: 767px)' !default;
$onlyPhone: 'screen and (max-width: 479px)' !default;

$onlyDevice: 'screen and (max-width: 767px)' !default;
$noDevice: 'screen and (min-width: 1020px)' !default;
$noPhone: 'screen and (min-width: 480px)' !default;

//grid
$grid-columns: 12 !default;
$gutter-width: 40px !default;
$grid-gutter-width: 20px !default;
$grid-gutter-width-xs: 60px !default;
$grid-gutter-width-md: 80px !default;

//Container sizes
// Small screen / tablet
$container-tablet: (720px + $grid-gutter-width-xs) !default;
//** For `$screen-sm-min` and up.
$container-sm: $container-tablet !default;
// Medium screen / desktop
$container-desktop: (940px + $grid-gutter-width-md) !default;
//** For `$screen-md-min` and up.
$container-md: $container-desktop !default;
// Large screen / wide desktop
$container-large-desktop: (1252px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg: $container-large-desktop !default;

//== Typography
$font-size-base: 14px !default;

$font-size-h1: 38px !default;
$font-size-h2: 30px !default;
$font-size-h3: 24px !default;
$font-size-h4: 22px !default;
$font-size-h5: 20px !default;
$font-size-h6: 18px !default;
$line-height-base: 1.428571429 !default;
$line-height-computed: floor($font-size-base * $line-height-base) !default; // ~20px


//== Z-index
$zindex-dropdown: 1000 !default;
$zindex-modal: 1050 !default;
$form-group-margin-bottom: 30px !default;

//== Sprites svg
$mq-base-font-size: 14px !default;
