{% extends "blocks/layout-default/layout-default.twig" %}
{% set title = "Twig.js templating test" %}
{% set pageTitle = "Use Twig from the start!" %}
{% set benefits = ["Fast!", "Easy!", "Efficient!"] %}

{% block content %}

{% include "blocks/header/header.twig" %}

<ul>
	{% for value in benefits %}
		<li>{{ value }}</li>
	{% endfor %}
</ul>

<ul>
{% for item in top_menu %}
	<li>
		<a href="{{ item.link }}">{{item.name}}</a>
	</li>
{% endfor %}
</ul>

{% endblock %}