extends ../blocks/layout-default/layout-default

block head
	-var pageTitle = 'Index page';

block content
	.app.main-page
		.app-content
			header.app-header
				ul
					each item in top_menu
						li
							a(href=item.link)!= item.name
			.main-content
				.wrap-content
					h1!= hire_lezgro
					block content